<!doctype html>
<html lang="en">
<head>
	<title>Chess</title>
	<link rel="stylesheet" href="./styles.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
	<div class="jumbotron text-center">
		<h1>Would you like to start a new game or join a game?</h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<a href="/startgame" type="button" class="btn btn-primary">Start Game</a>
			</div>
			<div class="col-sm-6 text-center">
				<a href="joingame" type="button" class="btn btn-primary">Join Game</a>
			</div>
		</div>
	</div>
</body>
</html>